<div class="mb-3">
    <button class="btn btn-primary" (click)="openModal()">
        <i class="fa-solid fa-plus align-middle me-1"></i>
        Add employee project
    </button>
</div>

<div class="card">
    <div class="card-body">
        <div class="d-flex flex-wrap align-items-center justify-content-between">
            <h5 class="m-0">Employee projects</h5>
            <div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text h-100">
                            <i class="fas fa-search"></i>
                        </div>
                    </div>
                    <input type="text" class="form-control" placeholder="Search projects">
                    <!-- [(ngModel)]="searchModel" -->
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table align-middle text-nowrap">
                <thead>
                    <tr>
                        <th scope="col">Project EmpId</th>
                        <th scope="col">Project Name</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">Expected End Date</th>
                        <th scope="col">Client Name</th>
                        <th scope="col">Emp Name</th>
                        <th scope="col">Emp EmailId</th>
                        <th scope="col">Emp Designation</th>
                        <th scope="col">Added Date</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of allEmployeeProjects">
                        <td>{{ data.projectEmpId }}</td>
                        <td>{{ data.projectName }}</td>
                        <td>{{ data.startDate | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                        <td>{{ data.expectedEndDate | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                        <td>{{ data.clientName }}</td>
                        <td>{{ data.empName }}</td>
                        <td>{{ data.empEmailId }}</td>
                        <td>{{ data.empDesignation }}</td>
                        <td>{{ data.addedDate | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                        <td>
                            <button class="btn btn-primary btn-sm" (click)="removeEmployeeProjects(data.projectEmpId)">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </td>
                    </tr>                    
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" #modalElement id="exampleModal" data-bs-backdrop="static" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add employee project</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="employeeProjectForm">
                    <div class="mb-3">
                        <label class="form-label">Employee</label>
                        <select class="form-select" formControlName="employeeId">
                            <option *ngFor="let data of allEmployee" [value]="data.empId">{{ data.empName }}</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Projects</label>
                        <select class="form-select" formControlName="projectId">
                            <option *ngFor="let data of allProjects" [value]="data.clientProjectId">{{ data.projectName
                                }}
                            </option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Added date</label>
                        <input type="datetime-local" class="form-control" formControlName="addedDate">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <i class="fa-solid fa-xmark me-1"></i>
                    Close
                </button>
                <button class="btn btn-primary" (click)="save()">
                    <i class="fa-regular fa-floppy-disk me-1"></i>
                    Save
                </button>
            </div>
        </div>
    </div>
</div>